<form name="PasswordField" action="/sign-up" method="POST">
    <div class="col-sm-8 col-sm-offset-2">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit">
    </div>

</form>